<div id="body">
    <br>
    <br>
    <br>
    <br>
    <br>
    
        <div class='title'><b>Contact Us</b></div>
        <br>
        <div class='backtext-container'> 
            <h3>We engage in community service to provide our surrounding neighborhoods with the opportunity to become active members of their communities and have a lasting, positive impact on society at large. Community service or volunteerism also enables children to acquire life skills and knowledge, as well as provide a service to those who need it most.</h3>
            <br>
        </div>
        <div class="row">
            <div class="col-md-3">
              <img src="https://images.unsplash.com/photo-1566938081516-c16ca8d5dea6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" width="60%" >
            </div>
            <div class="col-md-3">
              <img src="https://images.unsplash.com/photo-1555955208-94f6fafea771?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" width="60%">
            </div>
            <div class="col-md-3">
              <img src="https://images.unsplash.com/photo-1560252811-2ab1e44ce202?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" width="60%" >
            </div>
            <div class="col-md-3">
              <img src="https://images.unsplash.com/photo-1566938077754-8a2ea6258253?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" width="60%">
            </div>
            
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class='subTitle-container'>
            <div class='subTitle'><b>Let's Grow Together</b></div>
        </div>
        <div class='contactme-container'>
    
        <div class='row'>
            <div class="col-md-6">
                
                <div class="contactForm">
                    <div id="contactForm">
                        <h2><b>Connect & Get Involved</b></h2>
                        
                        <form
                        action="https://formspree.io/xledeeon"
                        method="POST"
                        >
                        <label>
                            <br>
                            <input type="text" placeholder="Name" size="75" name="subject">
                        </label>
                        <label>
                            <br>
                            <input type="text" placeholder="Email" size="75" name="_replyto">
                        </label>
                        <br>
                        <label>
                            <br>
                            <input type="text" placeholder="Subject" size="75" name="subject">
                        </label>
                        <br>
                        <label>
                            <br>
                            <textarea placeholder="Message" name="message" size="75" cols="75" rows="10"></textarea>
                        </label> 
                        
                        <!-- other form fields go here -->
                        <br>
    <button id="sendButton" type="submit">Send</button>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    </form>
    </div>
    </div>
    </div>

    <div class="divider"></div>


    <div class='col-md-4'>

        <div class='subscribe-container'>
            <h2>
                <b>
                    Subscribe to our Newsletter
                <br> 
                <i><b>"Dig In"</b></i>
            </b></h2>
            <br>
            <h4><b>A Bugless Life is always launching new products and seeking feedback to continue our push to improve our customer experience. Subscribe to the Bugless Life newsletter to stay up-to-date on all new products, annoucements and community service for the opportunity to join us in our fight to preserve the environment. </b></h4>
            <br>
            <br>
            <button onclick="" id="subButton" type="submit">Subscribe</button>
        </div>
        <br>
    </div>
    <br>
    </div>
    </div>