<div id="body">
<br>
<br>
    <h1><b>Contact Us</b></h1>
    <br>
    <div class='backtext-container'> 
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laborum corporis ex repellendus quasi adipisci error commodi perspiciatis ratione aspernatur! Nostrum non excepturi perferendis? Eum quidem quia quas reprehenderit atque! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam nobis molestiae laudantium debitis eveniet nostrum suscipit fugiat iure animi sit id eum, ea autem qui sed alias quis neque dolorem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur alias error nemo optio fugiat odio iste eos iusto, porro sed commodi voluptate veritatis? Voluptates quia voluptatem adipisci voluptatum voluptate illo?</h4>
    </div>
    <br>
    <div class='contactme-container'>

    <div class='row'>
        <div class="col-md-8">
            
            <div class="contactForm">
                <div id="contactForm">
                    <h2><b>Connect & Get Involved</b></h2>
                    
                    <form
                    action="https://formspree.io/xledeeon"
                    method="POST"
                    >
                    <label>
                        <br>
                        <input type="text" placeholder="Email" name="_replyto">
                    </label>
                    <br>
                    <label>
                        <br>
                        <input type="text" placeholder="Subject" name="subject">
                    </label>
                    <br>
                    <label>
                        <br>
                        <textarea placeholder="Message" name="message"></textarea>
                    </label>
                    
                    <!-- other form fields go here -->
                    <br>
<button id="sendButton" type="submit">Send</button>

<br>
<br>
<br>
<br>
<br>
</form>
</div>
</div>
</div>
<div class='col-md-4'>
    <h2><b>Subscribe Here</b></h2>
</div>


</div>
</div>

