
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="auto"
    height="100%"
    alt="Bugless Logo"
    src="assets/img/A-Bugless-Life-01.png"
  />
  <ul>
  <li><a routerLink="/home">Home</a></li>  
  <li><a routerLink="/product">Products</a></li>
  <li><a routerLink="/contact">Contact</a></li>
  <li><a routerLink="/login">Login</a></li>
  <router-outlet></router-outlet>
</ul>
  </div>

  <div class=torn-top>
    <img
      width="100%"
      height="50"
      alt="Navbar"
      src="../assets/img/Navigation-01.png"
    />
</div>

    <!-- Footer -->

  <div class="footer">
    <img
    width="40%"
    height="70"
    alt="footer"
    src="../assets/img/footer-image-01.png"
  />
  </div>

<!-- Footer -->
  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>

