/* Required for full background image */

html,
body,
header,
.view {
  min-height: 50vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

h1,h5 {
  color: white;
}

h3, h6 {
  margin: 70px;
}

.card {
  margin: 70px;
}
