<!-- Main navigation -->
<!-- Full Page Intro -->
<br/>
<header>
  <div
    class="view"
    style="background-image: url('https://cdn.pixabay.com/photo/2015/07/02/10/18/clover-828698_960_720.jpg'); background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;"
  >
    <!-- Mask & flexbox options-->
    <div
      class="mask rgba-purple-slight d-flex justify-content-center align-items-center"
    >
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-md-12 text-center">
            <h1
              class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp"
            >
              Tired of bugs in your home?
            </h1>
            <h5
              class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
              data-wow-delay="0.2s"
            >
              No problem, our plants naturally get rid of the pests living in
              your home!
            </h5>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
</header>
<!-- Full Page Intro -->
<!-- Main navigation -->
<h6>
  <strong>Our Mission: </strong>
  <br />
  We want to make homes more aesthetically pleasing and get rid of the free
  loading bugs in your home! The proof is in the science. That's right, our
  scientist have genetically altered plants to release a hormone that bugs
  abhor! Order one of our plants and you won't have to deal with expensive
  terminators who charge you monthly to spread harmful chemicals throughout your
  home.
</h6>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="/garden-project/src/assets/img/plants-png-44913.png"
          alt="plant1"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div
    class="view"
    style="background-image: url('https://cdn.pixabay.com/photo/2015/07/02/10/18/clover-828698_960_720.jpg'); background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:none"
  ></div>
